
<!--
<div class=nav>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</div>
  <span style="color:purple;font-size:300%;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">{{title}}</span>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>My Climbs</button>
</mat-menu>
-->

<div class=matcard>
  <mat-card>
    <mat-icon>search</mat-icon>
    <span style="color:purple;font-size:200%;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">{{title}}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span>My Climbs</span>
      </button>
      <button mat-menu-item>
        <span>Log Out</span>
      </button>
    </mat-menu>
  </mat-card>
</div>
