<!--

<div class=matcard>
  <mat-card>

    <a routerLink="/home">
      <span style="color:purple;font-size:200%;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">{{title}}</span>
    </a>
  
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
  
    <mat-menu #menu="matMenu">

      <button mat-menu-item>
        <a routerLink="/home">
          <span>Home</span>
        </a>
      </button>

      <button mat-menu-item>
        <a routerLink="/my-climbs-list">
          <span>My Climbs</span>
        </a>
      </button>

    </mat-menu>

  </mat-card>
</div>



-->

<nav class="navbar navbar-dark bg-dark">
  <h1>{{title}}</h1>
  <a routerLink="/home">Home</a>
  <a routerLink="/my-climbs-list">My Climbs List</a>
  <a routerLink="/climb-shop">Climb Shop</a>
</nav>