
<!--<div class="container-fluid no-padding">
  <div class="row">
    <div class="col-md-12">
      <img src="https://hips.hearstapps.com/ell.h-cdn.co/assets/17/26/1498839891-elm070117btyprofiles-005.jpg" class="img-fluid" alt="photo of rock climber">
    </div>
  </div>
    
  <div class="climb-info">
    <h3>{{title}}</h3>
    <h4>{{climb.name}}, {{climb.grade}} @ {{climb.location}}</h4>
  </div>
</div>-->
<img src="https://hips.hearstapps.com/ell.h-cdn.co/assets/17/26/1498839891-elm070117btyprofiles-005.jpg" class="img-fluid" alt="photo of rock climber">
<div class="climb-info">
  <h3>{{title}}</h3>
  <h4>{{climb.name}}, {{climb.grade}} @ {{climb.location}}</h4>
</div>


